/*
	CSS -> Cascading Style Sheets
*/

@font-face {
	src: url('warcraft.woff') format('woff');
	font-family: 'warcraft';
}

* {
	font-family: 'warcraft';
	fallback: fantasy;
	color: white;
}

body {	
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: auto;
    margin-top: 1%;
	
	text-align: center;
	box-sizing: content-box;
	
	background-color: rgba(0, 0, 0, 255);
}

div {
	border: 10px outset rgb(255, 255, 128);
	background-color: rgba(4, 99, 7, 255);
}

form {
	border: none;
	padding: 2px;
	margin: 2px;
}

table, th, td {
	align-items: center;
	text-align: left;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}

input {
	background-color: rgb(50, 50, 50);
	border: 2px outset rgb(0, 0, 0);
}

select {
	width: 150px;
	background-color: rgb(50, 50, 50);
	border: 4px inset rgb(0, 0, 0);
}

img {
	align-items: center;
}
