/*
	CSS -> Cascading Style Sheets
*/

@font-face {
	font-family: 'warcraft';
	src: url('warcraft.woff') format('woff');
}

* {
	font-family: warcraft;
}

body {	
	
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: auto;
    margin-top: 2%;
	
	border: 10px outset rgb(255, 255, 128);
	text-align: left;
	box-sizing: content-box;
	width: 40%;
	
	background-color: rgba(4, 99, 7, 255);
}

form {
	
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
	text-align: center;

}

input {
	
	margin: 3px;
	
}

table, th, td {
  text-align: left;
  border: 0px solid black;
}
